#servicos {
  padding: 5rem 0;
  background: #fff;
  font-family: "Inter", system-ui;
}

#servicos .row {
  align-items: center;
}

.service-left {
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 550px;
}

.service-left::before,
.service-left::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 4px;
  background: #00A859;
}

.service-left::before {
  left: 0;
  top: 10px;
}

.service-left::after {
  right: 0;
  bottom: 10px;
  transform: rotate(90deg);
}

.service-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #0f1b33;
}

.service-sub {
  font-size: 1.4rem;
  font-weight: 600;
  color: #0f1b33;
  margin-bottom: 1.2rem;
}

.service-desc {
  font-size: 1rem;
  color: #4a5568;
  line-height: 1.7;
  max-width: 90%;
}


.service-media {
  display: flex;
  justify-content: flex-end;
}

.img_servico {
  width: 100%;
  max-width: 650px;
  border-radius: 8px;
  object-fit: cover;

  border-top: 6px solid #00A859;

  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
  transition: transform .35s ease, box-shadow .35s ease;
}

.img_servico:hover {
  transform: translateY(-6px);
  box-shadow: 0px 28px 50px rgba(0, 0, 0, 0.22);
}

.service-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e5e7eb;
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.07);
  transition: .3s ease-out;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.15);
}

.service-card > img {
  height: 170px;
  width: 100%;
  object-fit: cover;
}



.service-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.service-card-body {
  padding: 1.2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}


.service-card-body .tag {
  font-size: .75rem;
  font-weight: 600;
  color: #007A43;
  opacity: .85;
}

.service-card-body h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #0f1b33;
  margin-top: .4rem;
}

.service-card-body p {
  font-size: .95rem;
  color: #4a5568;
  margin-top: .4rem;
}

@media (max-width: 992px) {
  #servicos .row {
    text-align: center;
  }

  .service-left::before,
  .service-left::after {
    display: none;
  }

  .service-left {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 2rem;
  }

  .img_servico {
    max-width: 100%;
  }
}

#servicos .row.g-4 {
  justify-content: center;
}
